header img { 
    display: block;
    margin: auto;
    width: 25%; 
    }
    
body {
    background-color: lightgrey;
    font-family: cabold comic;
    }

.background {
    background-color: whitesmoke;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 5px 20px;
    border-top: 5px solid lightgreen;
}

#navbar {
    overflow: hidden;
    background-color: lightgrey;
    font-family: Cabold Comic;
    }

#navbar a {
    color: black;
    padding: 0px 40px 15px 40px;
    text-decoration: none;
    }

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    }

.container {
    font-size: 125%;
    }

input {
    float: right;
    margin: 0px 20px 0px 0px;
    padding: 0px 20px 0px 0px;
    display: inline-block;
    }

hr {
    border: none;
    height: 5px;
    background-color: lightgreen;
    width: 65%;
    float: center;
    margin: 10px 0px 5px 313px
    }

@font-face {
    font-family: cabold comic;
    src: url(cabold comic demo.otf);
    } 

footer img {
    display: block;
    margin: auto;
    width: 18%;
    background-color: lightgreen;
    }

footer {
    background-color: lightgreen;
    font-family: cabold comic;
    }

.flex-container {
    display: -webkit-flex;
    justify-content: center;
    padding: none;
    }

.flex-container img {
    height: 40px;
    width: 40px;
    margin: 10px 30px 10px 30px;
    }

.footertext {
    display: -webkit-flex;
    justify-content: space-between;
    margin: 0px 5px 0px 5px;
    }

.kontakt {
    text-align: center;
    font-family: 'Crimson Text';
    font-weight: 1000;
    }


#articlelogo {
    display: flex;
    flex-direction: row;
    }

#articlelogo img {
    height: 43px;
    width: 40px;
    margin: 0px 15px 0px 15px
    }

.column {
    float: left;
    }

.left {
    width: 20%;
    text-align: left;
    }

.right {
    width: 40%;
    margin: 0px 0px 0px 100px
    }

.row:after {
    content: " ";
    display: table;
    clear: both;
    }

.article2 {
    margin: auto;
    font-size: 115%;
    width: 100%;
    font-family: 'Crimson Text', serif;
    }  

.article2 img {
    align-items: center;
    width: 100%
    }

#snip1571 {
  background-color: #000;
  display: inline-block;
  font-family: Cabold Comic;
  font-size: 20px;
  margin: 10px 7px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
    margin: 0px 0px 0px 0px;
}

#snip1571 *,
#snip1571 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#snip1571 img {
  backface-visibility: hidden;
  width: 100%;
  vertical-align: top;

}

#snip1571 figcaption {
  bottom: 120px;
  left: 0;
  position: absolute;
  z-index: 0;
}

#snip1571 figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}

#snip1571 h3 {
  background-color: lightgreen;
  color: #ffffff;
  font-size: 115%;
  font-weight: 600;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  z-index: 1;
}

#snip1571 a {
  position: absolute;
  z-index: 1;
}

#snip1571:hover > img,
#snip1571.hover > img {
  opacity: 0.1;
}

#snip1571:hover figcaption:before,
#snip1571.hover figcaption:before {
  right: -5px;
}

.snip1571 {
  background-color: #000;
  display: inline-block;
  font-family: Cabold Comic;
  font-size: 16px;
  margin: 10px 7px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1571 *,
.snip1571 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1571 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1571 figcaption {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 0;
}

.snip1571 figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}

.snip1571 h3 {
  background-color: lightgreen;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  z-index: 1;
}

.snip1571 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1571:hover > img,
.snip1571.hover > img {
  opacity: 0.1;
}

.snip1571:hover figcaption:before,
.snip1571.hover figcaption:before {
  right: -5px;
}

.billedemenu {
    display: inline-block;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    }

.massimoimg {
    display: inline-block;
    float: right;
    width: 30%;
    height: 30%;
    margin: 5px;
    border: 3px solid lightgreen;
    } !important
    
